export default CategoryTabs .category_container {
  display: flex;
  flex-direction: row;
}
.active {
  background-color: transparent;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-bottom: 2px solid red;
  color: red;
  font-weight: 600;
}
.in-active {
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 16px;
  font-size: 16px;
}
.category-tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
@media screen and (max-width: 768px) {
  .category-tabs {
    overflow-x: auto;
  }
}
