.head-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.my_order {
  display: flex;
}

.cart-count {
  background-color: blue;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  margin-left: 6px;
}

@media (min-width: 678px) {
  .my_order_text {
    display: block;
  }
}
@media (min-width: 677px) {
  .my_order_text {
    display: none;
  }
}
